<h1>add new movie</h1>

<form action="/movies/create" method="POST">

<div>
    Title: 
    <input type="text" name="title">
</div>

<div>
    Director: 
    <input type="text" name="director">
</div>

<div>
    Image: 
    <input type="text" name="img">
</div>

<div>
    Description:
    <input type="text" name="description">
</div>

<div>
    Stars: 
    <input type="text" name="stars">
</div>




<button>Save</button>


</form>